/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Utility */
.container {
    max-width: 1000px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.w-20 {
    width: 20%;
}
.w-60 {
    width: 60%;
}
.w-40 {
    width: 40%;
}
.w-45 {
    width: 45%;
}

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.col {
    float: left;
}

a {
    text-decoration: none;
}

.btn {
    border-radius: 30px;
}

.btn.btn-white {
    color: #262a2d;
    background-color: #fff;
}

.btn.btn-black {
    color: #fff;
    background-color: #23272a;
}

.btn.btn-blue {
    color: #fff;
    background-color: #8ea1e1;
}

.btn.btn-large {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
}

.btn.btn-small {
    font-size: 12px;
    font-weight: 500;
    padding: 5px 10px;
}

.btn.btn-white:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 20px rgba(225, 225, 255, 0.2), -1px -1px 20px rgba(225, 225, 255, 0.2), -1px 1px 20px rgba(225, 225, 255, 0.2), 1px -1px 20px rgba(225, 225, 255, 0.2);
}

.btn.btn-black:hover {
    background-color: #36393f;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2), -1px -1px 20px rgba(0, 0, 0, 0.2), -1px 1px 20px rgba(0, 0, 0, 0.2), 1px -1px 20px rgba(0, 0, 0, 0.2);
}

.btn.btn-large:hover {
    box-shadow: 1px 1px 20px rgba(225, 225, 255, 0.4), -1px -1px 20px rgba(225, 225, 255, 0.4), -1px 1px 20px rgba(225, 225, 255, 0.4), 1px -1px 20px rgba(225, 225, 255, 0.4);
}

main h2 {
    font-size: 40px;
}

main p {
    font-size: 18px;
    padding-top: 30px;
}

.img-400h {
    height: 400px;
}

.margin-100 {
    margin: 100px 0;
}

.margin-300 {
    margin: 300px 0;
}

/* Body */
/* Header - Top-bar */
header .top-bar {
    width: 100%;
    height: 10vh;
    background-color: #3161e0;
    color: #fff;
    line-height: 10vh;
}

#logo {
    vertical-align: middle;   
    height: 28px;
}

.col .nav-menu li{
    list-style-type: none;
    display: inline-block;
}

.top-bar .nav-menu a {
    color: #fff;
    padding: 10px 0;
    margin: 0 16px;
    font-size: 12px;
}

.top-bar .nav-menu a:hover {
    text-decoration: underline;
}

.btn {
    border-radius: 30px;
}

.btn .btn-white {
    background-color: #fff;
    color: #262a2d;
}

.btn .btn-small {
    font-size: 12px;
}

.text-right a {
    display: inline-block;
    line-height: 12px;
}

/* Header spotlight */
.spotlight {
    height: 60vh;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
}

.spotlight .text-spotlight {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50% , -60%);   
}

.text-spotlight h1 {
    font-size: 2.5em;
    padding: 40px 0;
}

.text-spotlight p {
    line-height: 25px;
}

.text-spotlight .button-download {
    margin-top: 30px;
}
.text-spotlight .btn {
    padding: 10px 20px;
}

.button-download a{
    margin: 0 10px;
}

a .fa-long-arrow-alt-down {
    padding-right: 5px;
}

/* Main */
main {
    color: #23272a;
}
.text-section-right {
    padding-top: 40px;
    padding-left: 100px;
}

.text-section-left {
    padding-top: 38px;
    padding-right: 100px;
}

.download-section h3 {
    padding-top: 20px;
    font-size: 24px;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.btn-download-section {
    margin: 40px 0;
}


